Click==7.0
Django==3.2
django-cors-headers==3.7.0
djangorestframework==3.12.4
httplib2==0.14.0
MarkupSafe==1.1.0
oauth==1.0.1
oauthlib==3.1.0
sqlparse==0.4.1
gunicorn==19.6.0
Unipath==1.0
whitenoise==5.2.0